nav
	{
		text-align: right;
    background-color: rgba(0,0,0,.7);
		box-sizing: border-box;
	}

	nav ul
	{
		display: inline-block;
	}

	nav li
	{
		display: block;
		float: left;
		text-align: center;
	}

	nav li a, nav li span
	{
    text-decoration: none;
		color: #FFF4E3;
		font-family: 'Balsamiq Sans', cursive;
		letter-spacing: 0.20em;
		font-size: 1em;
		font-weight: 500;
		padding: 0px 25px;
		box-sizing: border-box;
	}

	nav li:hover a, nav li.active a, nav li.active span
	{
    color: white;
		font-weight: bold;
		background-color: rgba(255, 165, 49, 0.5);
		border-radius: 10px;
		transition: all .4s ease-in-out;
	}


body{
    background-color: orange;
		background-image: url("../Imagenes/fondo.jpg");
		background-attachment: fixed;
}

header{
  text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	color: orange;
	font-size: 1.7em;
	font-weight: bolder;
	background-color: rgba(0, 0, 0, .7);
  width: 100%;
  margin: auto;
	box-sizing: content-box;
}

.img2 {
	display: none;
}


hr {
	background-color: orange;
}

/*------MAIN------*/
main {
	color: white;
	font-family: 'Hind Madurai', sans-serif;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.intro{
	text-align: center;
}

.intro p {
	float: right;
}

.intro img{
	border-radius: 3%;
	width: 60%;
}



/*-----SECTION----*/
section{
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	flex: 3;
	min-width: 250px;
	padding: 1%;
	margin: 0.5%;
}

/*---ASIDE--- */

aside{
  background-color: rgba(0,0,0,.7);
	font-family: 'Hind Madurai', sans-serif;
	color: white;
	flex: 1;
	min-width: 250px;
	padding: 1%;
	margin: 0.5%;
	margin-bottom: auto;
	border-radius: 10px;
}

footer{
  clear: both;
  height: 3rem;
  margin-top: -1rem;
  padding: 1%;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}


h2 {
	text-align: center;
	font-size: 2rem;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: lighter;
}
h3{
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

iframe{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.formulario {
    padding: 0rem;
    width: 50%;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
		color: white;
		box-sizing: border-box;
		margin: auto;
}

.form-boton {
    margin-top: 1rem;
    padding: 0rem;
    width: 10%;
    height: 2rem;
    background-color: #C37818;

    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    transition: 0.3s;
		font-family: 'Hind Madurai', sans-serif;
}
.form-boton:hover {
    background-color: orange;
}

.comida {
	width: 60%;
	border-radius: 3%;
}

.recetas a{
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
}

@media screen and (max-width: 575px) {
	header{
		font-size: 1.2em;
	}

	.mapa {
		width: 100%;
		border-radius: 10px;
	}

	.video {
		width: 100%;
	}

	.img2 {
		display: block;
		width: 100%;
		border-radius: 10px;
	}

	.intro img {
		width: 100%;
		border-radius: 10px;
	}

	.comida {
		display: none;
	}

	.recetas a {
		font-size: 1.1rem;
		text-decoration: underline;
		color: orange;
	}
}
