nav
	{
		text-align: right;
    /*background-color: rgba(0,0,0,.7); */
		background-color: #f4f1de;
		box-sizing: border-box;
		border: #5c4d3c solid 1px;
		border-radius: 10px;
	}

	nav ul
	{
		display: inline-block;
	}

	nav li
	{
		display: block;
		float: left;
		text-align: center;
	}

	nav li a, nav li span
	{
    text-decoration: none;
		font-family: 'Balsamiq Sans', cursive;
		/*letter-spacing: 0.10em;*/
		font-size: 1.2em;
		font-weight: 500;
		padding: 0px 25px;
		box-sizing: border-box;
		color: #e85d04;
	}

	nav li:hover a, nav li.active a, nav li.active span
	{

		font-weight: bolder;
		background-color: rgba(220,120,0,0.1);
		border-radius: 7px;
		transition: all .4s ease-in-out;
	}


body{

		background-color: #f4f1de;

		background-image: url("../Imagenes/fondo.jpg");
		background-image: url("https://img3.stockfresh.com/files/s/sanjanovakovic/m/56/2000046_stock-photo-colorful-seamless-pattern-with-cooking-related-symbols.jpg");

		background-attachment: fixed;

}

header{
  text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	color: #e85d04;
	font-size: 1.9em;
	font-weight: bold;
	/*background-color: rgba(0, 0, 0, .7);*/
	background-color: #f4f1de;
	/*background-color: orange;*/
  width: 100%;
  margin: auto;
	box-sizing: content-box;
}

hr{
}

.img2 {
	display: none;
}




/*------MAIN------*/
main {
	color: black;
	font-family: 'Hind Madurai', sans-serif;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.intro{
	text-align: center;
}

.intro p {
	float: right;
}

.intro img{
	border-radius: 5px;
	width: 70%;
}



/*-----SECTION----*/
section{
	background-color: rgba(0,0,0,.7);
	background-color: #f4f1de;
	border-radius: 10px;
	flex: 3;
	min-width: 250px;
	padding: 1%;
	margin: 0.5%;
	margin-top: 0%;
	margin-bottom: 25px;
	border: #5c4d3c solid 1px;

}

/*---ASIDE--- */

aside{
  background-color: rgba(0,0,0,.7);
	background-color: #f4f1de;
	font-family: 'Hind Madurai', sans-serif;
	color: black;
	flex: 1;
	min-width: 250px;
	padding: 0.5%;
	margin: 0.1%;
	margin-top: 0%;
	margin-bottom: auto;
	border-radius: 10px;
	border: #5c4d3c solid 1px;
}
.taylor{
	width: 90%;
	margin: auto;
	margin-left: 22px;
	border-radius: 5px;
}

footer{
  clear: both;
  height: 3rem;
  margin-top: -1rem;
  padding: 1%;
  background-color: black;
	background-color: #f4f1de;
  color: black;
  width: 100%;
  text-align: center;
	border: #5c4d3c solid 1px;
}


h2 {
	text-align: center;
	font-size: 2rem;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: lighter;
}
h3{
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

iframe{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.formulario {
    padding: 0rem;
    width: 50%;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
		color: white;
		box-sizing: border-box;
		margin: auto;
}

.form-boton {
    margin-top: 1rem;
    padding: 0rem;
    width: 10%;
    height: 2rem;
    background-color: #C37818;

    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    transition: 0.3s;
		font-family: 'Hind Madurai', sans-serif;
}
.form-boton:hover {
    background-color: orange;
}

.comida {
	width: 90%;
	border-radius: 5px;
}

.recetas a{
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
}

@media screen and (max-width: 575px) {
	header{
		font-size: 1.2em;
	}

	.mapa {
		width: 100%;
		border-radius: 10px;
	}

	.video {
		width: 100%;
	}

	.img2 {
		display: block;
		width: 100%;
		border-radius: 10px;
	}

	.intro img {
		width: 100%;
		border-radius: 10px;
	}

	.comida {
		display: none;
	}

	.recetas a {
		font-size: 1.1rem;
		text-decoration: underline;
		color: orange;
	}

	footer{
		margin-top: 10px;
		width: 97%;
		border-radius: 10px;
	}

}
